@font-face {
    font-family: Stam_Normal;
    src: url('../fonts/Guttman_Stam.woff');
}

@font-face {
    font-family: David_Normal;
    src: url('../fonts/GuttmanDavid.woff');
}
@font-face {
    font-family: Frank_Normal;
    src: url('../fonts/GuttmanFrankNormal.woff');
}
@font-face {
    font-family: Keren_Normal;
    src: url('../fonts/GuttmanKerenNormal.woff');
}
@font-face {
    font-family: Rashi_Normal;
    src: url('../fonts/GuttmanRashi-Bold.woff');
}
@font-face {
    font-family: Aram_Normal;
    src: url('../fonts/GuttmanAram.woff');
}
@font-face {
    font-family: Miryam_Normal;
    src: url('../fonts/GuttmanMiryamNormal.woff');
}