form{
  .error-message{
    color:#dd4b39;
  }

  .select2-container--default .select2-selection--multiple{
    border-radius: 0 ;
    border-color:#d2d6de ;
    .select2-selection__choice{
      color:#333;
    }
  }

}

.dd.prayers-order-list{
  max-width: 100%;
}